* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background: #333;
  color: white;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 40px;
}

#projetos {
  background: #f4f4f4;
}

#lista-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* deixa redonda */
  object-fit: cover; /* evita deformar */
  display: block;
  margin: 20px auto; /* centraliza */
  border: 3px solid #333; /* opcional */
}

/* Responsividade */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  #lista-projetos {
    flex-direction: column;
    align-items: center;
  }
}